<div class="panel panel-default" id="votingForm">
    <div class="panel-body">
      <h3 align="center">Vote no seu restaurante favorito :)</h3>
      <br />
      <div class="media" align="center">
        <div class="media-left">
          <p>{{voting.first.name}}</p>
          <a href="#">
            <img class="media-object" src="{{voting.first.logo}}" alt="Subway">
          </a>
          <input type="radio" name="selectedVote" value="" ng-click="vote(voting.first)">
        </div>
        <div class="media-right">
          <p>{{voting.second.name}}</p>
          <a href="#">
            <img class="media-object" src="{{voting.second.logo}}" alt="Outback">
          </a>
          <input type="radio" name="selectedVote" value="" ng-click="vote(voting.second)">
        </div>
      </div>
    </div>
</div>

<div class="panel panel-default" id="sendingVotingForm">
    <div class="panel-body">
      <h3 align="center">Por favor, informe seus dados:</h3>
      <br />
      <form novalidate class="simple-form">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Exemplo: usuario@gmail.com</span>
          <input type="email" ng-model="user.email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" [required="string"]>
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Exemplo: Fulano Cigano da Silva</span>
          <input type="text" ng-model="user.name" class="form-control" placeholder="Nome completo" aria-describedby="basic-addon1" [required="string"]>
        </div>
        <br />
        <div align="center"><button type="button" class="btn btn-primary btn-lg" ng-click="showRanking(user)">Consultar ranking</button></div>
      </form>
    </div>
</div>

<div class="panel panel-default" id="rankingForm">
    <div class="panel-body">
      <h3 align="center">Ranking pessoal:</h3>
      <br />
      <ul class="list-group" ng-repeat="ranking in personalRanking.rankings">
        <li class="list-group-item">
          <span class="badge">{{ranking.points}}</span>
          {{ranking.restaurant.name}}
        </li>
      </ul>
      <br />
      <h3 align="center">Ranking geral:</h3>
      <br />
      <ul class="list-group" ng-repeat="ranking in generalRanking.rankings">
        <li class="list-group-item">
          <span class="badge">{{ranking.points}}</span>
          {{ranking.restaurant.name}}
        </li>
      </ul>
    </div>
</div>
