<div class="panel panel-default" id="votingForm">
     <div class="panel-heading"><h3 align="center">Vote no seu restaurante favorito :)</h3></div>
    <div class="panel-body">
      <div class="media" align="center">
        <div class="media-left">
          <p>{{voting.first.name}}</p>
            <img class="media-object restaurant-image" src="{{voting.first.logo}}" ng-click="vote(voting.first)">
        </div>
        <div class="media-right">
          <p>{{voting.second.name}}</p>
            <img class="media-object restaurant-image" src="{{voting.second.logo}}" ng-click="vote(voting.second)">
        </div>
      </div>
      <br />
      <div class="row" id="progress">
					<div class="col-md-12">
						<div class="progress">
							<div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
								0%
							</div>
						</div>
					</div>
				</div>
    </div>
    </div>
</div>

<div class="panel panel-default" id="sendingVotingForm">
    <div class="panel-heading"><h3 align="center">Por favor, informe seus dados:</h3></div>
    <div class="panel-body">
      <form novalidate class="simple-form">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Exemplo: usuario@gmail.com</span>
          <input type="email" ng-model="user.email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" [required="string"]>
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Exemplo: Fulano Cigano da Silva</span>
          <input type="text" ng-model="user.name" class="form-control" placeholder="Nome completo" aria-describedby="basic-addon1" [required="string"]>
        </div>
        <br />
        <div align="center"><button type="button" class="btn btn-primary btn-lg" ng-click="showRanking(user)">Consultar ranking</button></div>
      </form>
    </div>
</div>

<div class="panel panel-default" id="rankingForm">
    <div class="panel-heading"><h3 align="center">Ranking pessoal:</h3></div>
    <div class="panel-body">
      <br />
      <ul class="list-group" ng-repeat="ranking in personalRanking.rankings">
        <li class="list-group-item">
          <span class="badge">{{ranking.points}}</span>
          {{ranking.restaurant.name}}
        </li>
      </ul>
    </div>
    <div class="panel-heading"><h3 align="center">Ranking geral:</h3></div>
    <div class="panel-body">
      <ul class="list-group" ng-repeat="ranking in generalRanking.rankings">
        <li class="list-group-item">
          <span class="badge">{{ranking.points}}</span>
          {{ranking.restaurant.name}}
        </li>
      </ul>
    </div>
</div>
